.custom-cursor {
    height: 100vh;
    cursor: none;
    .cursor {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 10px;
        height: 10px;
        background-color: black;
        border-radius: 50%;
        transition: width 0.25s, height 0.25s;
        &.is-down {
            width: 80px;
            height: 80px;
        }
    }
    canvas {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}