html {
  background-color: pink; }

.custom-cursor {
  height: 100vh;
  cursor: none; }
  .custom-cursor .cursor {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 10px;
    height: 10px;
    background-color: black;
    border-radius: 50%;
    -webkit-transition: width 0.25s, height 0.25s;
    -o-transition: width 0.25s, height 0.25s;
    transition: width 0.25s, height 0.25s; }
    .custom-cursor .cursor.is-down {
      width: 80px;
      height: 80px; }
  .custom-cursor canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
